{% extends 'navbar.html' %}

{% block content %}
<head>
	<title>My To-Dos</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load static %}
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static "todoListApp/index/images/icons/favicon.ico"%}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "todoListApp/index/vendor/bootstrap/css/bootstrap.min.css"%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "todoListApp/index/fonts/font-awesome-4.7.0/css/font-awesome.min.css"%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "todoListApp/index/vendor/animate/animate.css"%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "todoListApp/index/vendor/select2/select2.min.css"%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "todoListApp/index/vendor/perfect-scrollbar/perfect-scrollbar.css"%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "todoListApp/index/css/util.css"%}">
	<link rel="stylesheet" type="text/css" href="{% static "todoListApp/index/css/main.css"%}">
	<link rel="stylesheet" type="text/css" href="{% static "todoListApp/index/css/modal.css"%}">
<!--===============================================================================================-->
</head>

<body>
	
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100">
					<table>
						<thead>
							<tr class="table100-head">
								<th class="column1">Tarea</th>
								<th class="column2">Detalles</th>
								<th class="column3">Fecha de creación</th>
								<th class="column4">Status</th>
								<th class="column5"></th>
								<th class="column6"></th>
							</tr>
						</thead>
						<tbody>
								<tr>
									<td class="column2">
										<a href="/create" class="btn btn-info" data-toggle="modal"><span>Crear Tarea</span></a>
									</td>
								</tr>
								{% for task in tasklist %}
								<tr>
									<td class="column1">{{task.title}}</td>
									<td class="column2">{{task.body}}</td>
									<td class="column3">{{task.creation_date}}</td>
									{% if task.status %}
										<td class="column4">
											<p>Pendiente</p>
											
										</td>
										<td class="column5">
											<p>
												<a href="/mark_{{task.id}}" style="font-size:70%"><span>Marcar como completada</span></a> 		
											</p>
										</td>
									{% else %}
										<td class="column4">Completada</td>
									
										<td class="column5">
										</td>
									{% endif %}
									<td class="column6">
										<a href="/edit_{{task.id}}" class="btn btn-info" style="font-size: 85%"><span>Editar</span></a>
										<a href="/delete_{{task.id}}" class="btn btn-danger" style="font-size: 85%"><span>Eliminar</span></a> 
									</td>
								</tr>
								{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>


<!--===============================================================================================-->	
<script src="todoListApp/index/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="todoListApp/index/vendor/bootstrap/js/popper.js"></script>
	<script src="todoListApp/index/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="todoListApp/index/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="todoListApp/index/js/main.js"></script>

</body>
{% endblock %}